
/* Estilos personalizados */
.navbar {
  background-color: #0a70d6;
  color: #ffffff;
}

.table {
  margin-top: 20px;
}

footer {
  background-color: #0a70d6;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  margin-bottom: 60px; /* Altura do rodapé */
}

.colum{
  background-color: #3a91e7;
}
.info {
  background-color: #3a91e7;
}